<fieldset>
  <legend>Cadastro de {{informacoes.nome}}</legend>
  <form #myForm="ngForm" (submit)="onSubmit(myForm)">
    <div class="row" ngModelGroup="informacoes">
      <div class="col col-6 form-group">
        <label>Nome:</label>
        <input class="form-control input-sm" type="text" name="nome" [(ngModel)]="informacoes.nome" />
      </div>
      <div class="col col-6 form-group">
        <label>Idade:</label>
        <input class="form-control input-sm" type="number" name="idade" [(ngModel)]="informacoes.idade"/>
      </div>
      <div class="col col-6 form-group">
        <label>E-mail:</label>
        <input class="form-control input-sm" type="email" name="email" [(ngModel)]="informacoes.email"/>
      </div>
      <div class="col col-6 form-group">
        <label>E-mail:</label>
        <input class="form-control input-sm" type="email" name="confirmarEmail" [(ngModel)]="informacoes.confirmaEmail" />
      </div>
    </div>
    <div class="row" ngModelGroup="endereco">
      <div class="col col-4 form-group">
        <label>CEP:</label>
        <input class="form-control input-sm" type="text" name="cep" #cep ngModel (blur)="getAddress(cep.value)"/>
      </div>
      <div class="col col-6 form-group">
        <label>Logradouro:</label>
        <input class="form-control input-sm" type="text" name="logradouro" ngModel />
      </div>
      <div class="col col-2 form-group">
        <label>Número:</label>
        <input class="form-control input-sm" type="text" name="numero" ngModel/>
      </div>
      <div class="col col-4 form-group">
        <label>Complemento:</label>
        <input class="form-control input-sm" type="text" name="complemento" ngModel/>
      </div>
      <div class="col col-4 form-group">
        <label>Cidade:</label>
        <input class="form-control input-sm" type="text" name="localidade" ngModel/>
      </div>
      <div class="col col-4 form-group">
        <label>Estado:</label>
        <input class="form-control input-sm" type="text" name="uf" ngModel/>
      </div>

    </div>
    <div class="row">
      <div class="col col-12 text-right">
        <button type="submit" class="btn btn-outline-primary">Enviar</button>
      </div>
    </div>
  </form>
</fieldset>
